body {
  background-color: aliceblue;
  font-size: 15px
}

hr {
border-style: none;
border-top-style: dotted;
border-width: 5px;
border-color: grey;
width: 5%

}

img {
height: 200px;
width: 200px;
}

h1 {
  color: #66BFBF
}

h3 {
  color: #66BFBF;
  font-style: italic;
}
